.homeCardContainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 8rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}

.selectedWork{
  width: 100%;
  margin-top: 13rem ;
}
.selectedWorkHead{
  width: 100%;
  font-family: 'Abril Fatface', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.selectedWorkHead div p{
  margin-top: 2rem;
  font-family: 'Roboto Mono';
  color: rgb(87, 87, 87);
}
.workCard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

@media only screen and (max-width:568px){
    .homeCardContainer{
      justify-content: center;
  }
  .workCard{
    padding-left: 0.8rem;
    align-items: center;
    flex-direction: column;
  }
}